{% extends 'base.html' %}

{% block title %}index${% endblock %}

{% block content %}
    <h1>Welcome to My Court Application!</h1>
    <p>This is the content of your home page.</p>
    <button class="btn btn-primary">A Bootstrap Button</button>
{% endblock %}

{# You can optionally add content to extra_head or extra_js blocks if needed #}
{% block extra_head %}
    <style>
        /* Custom CSS for this page */
    </style>
{% endblock %}

{% block extra_js %}
    <script>
        // Custom JavaScript for this page
    </script>
{% endblock %}