<div class="modal fade" id="addQuoteModal" tabindex="-1" aria-labelledby="addQuoteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addQuoteModalLabel">Ajouter une Citation</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modal-email-body-container" class="mb-3">
                    <h6>Corps de l'email :</h6>
                    <div class="p-2 border bg-light" style="max-height: 200px; overflow-y: auto;">
                        <pre id="modal-email-body" style="white-space: pre-wrap; word-break: break-word;"></pre>
                    </div>
                </div>
                <div id="form-container">
                    <!-- The form will be loaded here -->
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button type="button" class="btn btn-primary" id="saveQuoteBtn">Enregistrer la Citation</button>
            </div>
        </div>
    </div>
</div>
